textarea {
    vertical-align: top;
    font-family: Lato, Microsoft JhengHei;
    margin: 5px;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255, 255, 255, 0);
    padding: 0.78571429em 1em;
    background: #FFFFFF;
    border: 1px solid rgba(34, 36, 38, 0.15);
    outline: none;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 0.28571429rem;
    -webkit-box-shadow: 0em 0em 0em 0em transparent inset;
    box-shadow: 0em 0em 0em 0em transparent inset;
    -webkit-transition: color 0.1s ease, border-color 0.1s ease;
    transition: color 0.1s ease, border-color 0.1s ease;
    font-size: 1em;
    line-height: 1.2857;
    resize: vertical;
}

textarea:focus {
    border-color: #85B7D9;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
